<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="/"
        ><img
          src="../assets/images/cartlogo.png"
          width="30"
          height="30"
          alt="small cart
        logo"
        /><span class="brandname">SuperShop</span></a
      >
      <input
        type="text"
        class="search-box"
        placeholder="search what you need here"
      />
    </nav>
    <div class="view-container">
      <router-outlet></router-outlet>
    </div>
  </body>
</html>
