.brandname {
  margin-left: 10px;
  font-weight: bold;
  color: white;
}

.view-container {
  margin-top: 60px;
  position: absolute;
  margin-left: 50%;
  transform: translate(-50%);
}

.navbar {
  background-color: orange;
}

.search-box {
  position: absolute;
  margin-left: 50%;
  transform: translate(-50%);
  width: 500px;
}
